myenv
__pycache__
result
report

.env.local
git_repos.bat
*.rar

data/~$Data for clustering (EverGrowing).xlsx
test.py

VectorDB.zip
VectorDB/
data/Invoice_20240604.pdf
data/ever-growing.pem
data/ever-growing.ppk
doc/creditial.txt
doc/old.pub
